* {
  margin: 0;
  padding: 0;
}

/* 1. Sección de Navegación */
nav {
  width: 100%;
  grid-area: nav;
  background-color: #400b8b;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.menu_phone {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Logo_compania {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  font-size: 26px;
  justify-content: center;
}

.Logo_compania h {
  font-size: 1.2rem;
  font-weight: 100;
  padding: 0 6px;
}

.menu {
  padding: 0.5rem;
  font-size: 34px;
  justify-content: center;
}

.menu-desktop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-desktop p {
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
}

/* 2. Seccion de Filtro */
section {
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  display: flex;
  flex-direction: column;
}

section div {
  padding: 0.4rem;
}

.selector_filtro {
  width: 100vw;
  color: slategray;
  border-radius: 2px;
  border: solid 1px #400b8b;
  background-color: white;
  margin-top: 0.2rem;
  width: 80%;
  padding: 0.4rem;
}

/* 3. Seción Principal */
main {
  width: 100%;
  grid-area: main;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1.5rem;
  margin-bottom: -1.5rem;
  gap: 0.6rem;
}

.galeria div {
  margin-top: -0.5rem;
  margin-bottom: 0.7rem;
}

.card img {
  width: 80%;
}

.card {
  /* background-color: #f4f4f4; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid 1px slategray;
  box-shadow: 2px 2px 2px slategray;
}

.galeria img {
  padding: 1rem;
}

.boton_card {
  background-color: #400b8b;
  /* #c4f1fe; */
  border: none;
  border-radius: 2px;
  color: white;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  width: 30%;
}

.paginas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  margin-top: 3rem;
}

.paginas a {
  background-color: #f4f4f4;
  color: #400b8b;
  padding: 0.6rem;
  border: solid 1px #ffffff;
}

/* 4. Footer  */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #340971;
  color: white;
  width: 100%;
  grid-area: footer;
}

footer p {
  text-align: center;
  /* margin-bottom: 1rem; */
}

.logos_redes_sociales {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logos_redes_sociales p {
  padding: 0.4rem;
  font-size: 26px;
}

.derechos_reservados p {
  margin-bottom: 1rem;
}

/* 5- Grid Areas y Break Points */

/* Pantalla small */
@media (max-width: 576px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    /* border: 1px solid black; */
    grid-template-rows: 1fr 1.5fr 8fr 1fr;
    grid-template-columns: 1fr;
    /* gap: 10px; */
    grid-template-areas:
      "nav"
      "filtro"
      "main"
      "footer";
  }

  .menu-desktop p {
    display: none;
  }

  .galeria {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Pantalla DESKTOP */
@media (min-width: 576px) {
  .main-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
      "nav filtro"
      "nav main"
      "footer main";
    grid-template-columns: 1.5fr 6fr;
  }

  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.menu {
  display: none;
}

.menu_phone {
  justify-content: right;
  /* align-items: center; */
}

.Logo_compania {
  width: 100%;
  padding: 1rem;
  font-size: 20px;
  justify-content: center;
}
.Logo_compania h {
  font-size: 0.9rem;
}
